
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 300px;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
    margin: 0 auto; /* Center the calculator horizontally */
    padding: 90px;
}

h1 {
    color: #333333;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="number"],
select {
    width: 100%; /* Adjust width to fill the container */
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%; /* Make button fill the container */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.output {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width for better fit */
    margin: 20px auto; /* Center the output horizontally */
    padding: 20px;
    text-align: left;
}
.calculator form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
